<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-webapp"/>
        <listEntry value="archetypeVersion=1.5"/>
        <listEntry value="groupId=com.javaserver"/>
        <listEntry value="artifactId=crm"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=com.javaserver.crm"/>
        <listEntry value="outputDirectory=/Users/pthao/JavaServerApi"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/var/folders/xz/6tjdrkg93vd5g0xb9rhb75zw0000gn/T/m2e-archetypeGenerator9275377727748415682"/>
</launchConfiguration>
